/************************************
GENERAL
************************************/

body{
  font-family: 'Open Sans Condensed', sans-serif;

}
#wrapper{
  max-width: 940px;
  margin: 0 auto;
  padding: 0 5%;
}

a{
  text-decoration:none;
}

img{
  max-width: 100%;
    /* This is to make image take up the entirity of its container */
}

h3{
  margin: 0 0 1em 0;
}

/************************************
HEADING
************************************/

header{
  float: left;
  margin: 0 0 30px 0;
  padding: 5px 0 0 0;
  width: 100%

}

#logo{
  text-align: center;
  margin: 0;
}

h1{
  font-family: 'Oswald', sans-serif;
  margin: 15px 0;
  font-size: 1.75em;
  font-weight: normal;
  line-height: 0.8em;
}

h2{
  font-size: 0.75em;
  margin: -5px 0 0;
  font-weight: normal;
} 



/************************************
NAVIGATION
************************************/

nav{
  text-align:center;
  padding: 10px 0;
  margin: 20px 0 0;
}

nav ul{
  list-style: none;
  margin: 0 10px;
  padding: 0;
}

nav li{
  display: inline-block;
}

nav a{
  font-weight: bold;
    /*when selecting fonts, if you select a specific boldness, you can include the number here*/
  padding: 15px 10px;
}  
  

/************************************
FOOTER
************************************/  

footer{  
  font-size: 0.754em;
  text-align: center;
  clear: both;
  padding-top: 50px;
  color: #ccc;
}  
  
.social-icon{
  width: 20px;
  height: 20px;
  margin: 0 5px;
}

/************************************
PAGE PORTFOLIO
************************************/

#gallery{
  margin: 0;
  padding: 0;
  list-style: none;
}  

#gallery li{
  float: left;
  width: 45%;
    /* This is the actual resizing of the LIST ITEM. When we say "45%", we mean 45% of the list's parent element, which is ul. The image will resize WITH the list because we set the rule earlier to always take up 100% width of its parent element. In this case, the parent element of the image is the list item.  */
  margin: 2.5%;
  background-color: #f5f5f5;
  color: #bdc3c7;
}
  
#gallery li a p{
  margin: 0;
    /* Paragraphs have a margin by default so we want to zero this out */
  padding: 5%;
  font-size: .75em;
  color: #bdc3c7;
}



/************************************
PAGE ABOUT
************************************/
.profile-photo{
  display: block;
  max-width: 250px;
  margin: 0 auto 30px;
  border-radius: 100%;
}


/************************************
PAGE CONTACT
************************************/

.contact-info{
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 0.9em;
} 

.contact-info a{
  display: block;
  min-height: 20px;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  padding: 0 0 0 30px;
  margin: 0 0 10px;
}

.contact-info li.phone a{
  background-image: url('../img/phone.png');
  
}
  
.contact-info li.mail a{
  background-image: url('../img/mail.png');
}

.contact-info li.twitter a{
  background-image: url('../img/twitter.png');    
}

/************************************
COLORS
************************************/
  
/* Site body */
body{
  background-color: #fff;
  color: #999;
}

/* Green header */
header{
  background: #993300;
  border-color: #993300;
}

/*nav background on mobile*/
nav{
  background: #00628B;
}

/*nav link*/
nav a, nav a:visited{
  color:#fff;
}

/* nav link hover/selected color */
nav a.selected, nav a:hover{
  color: #C7B26F;   
}


/*logo text*/
h1, h2{
  color: #fff; 
}

/* links */
a{
  color: #993300;
}



















