@media screen and (min-width: 480px) {
  
  /************************************
  TWO COLUMN LAYOUT
  ************************************/
  #primary {
    width: 50%;
    float: left;
  }
  
  #secondary{
    width: 40%;
    float: right;
  }
  
  /************************************
  PAGE: PORTFOLIO (THREE COLUMN LAYOUT)
  ************************************/
  
  #gallery li{
    width: 28.3333%;
}
  #gallery li:nth-child(4n) {
    clear: left;
  }
  
  /************************************
  PAGE: ABOUT
  ************************************/
  
  .profile-photo {
    float: left;
    margin: 0 5% 80px; /*we adjust margins because it is a floated element. add 5% margin on the sides to separate text and 80px just in case the text wraps around to the bottom of the image*/
  }
  
}

@media screen and (min-width: 660px){
  
  /************************************
  HEADER
  ************************************/
  
  nav{
    background: none;
    float: right;
    font-size: 1.125em;
    margin-right: 5%;
    text-align: right;
    width: 45%;
  }
  
  #logo {
    float: left;
    margin-left: 5%;
    text-align: left;
    width: 45%;
  }
  
  h1{
    font-size: 2.5em;
  }
  
  h2{
    font-size: 0.825em;
    margin-bottom: 20px;
    padding-left: 3px;
  }
  
  header{
    border-bottom: 5px solid #599a68;
    margin-bottom: 60px;
  }
  
  
}





